const config = {
  _id: "{{ replica_set_name }}",
  members: [
    {%- for host_name in groups['mongodb'] -%}
      {
        _id: {{ loop.index }},
        host: "{{ hostvars[host_name]['ansible_host'] }}:{{ datastore.mongodb.port }}",
        priority:
				{%- if hostvars[host_name]['is_mongodb_master'] is defined and hostvars[host_name]['is_mongodb_master']|bool -%}
					2
				{%- else -%}
					1
				{%- endif %}
      }
    {%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}
rs.initiate(config, {force: true});
