version: "{{ consul.compose_file_version | default(docker.compose_file_version) }}"

services:
  consul:
    image: {{ consul.image }} 
    network_mode: host
    restart: always
    user: "1000:999"
    volumes:
      - {{ consul.data_dir }}:/consul/data
      - {{ consul.config_dir }}:/consul/consul.d
      - /usr/bin/docker:/usr/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
    command: > 
      consul agent
      -bind {{ hostvars[inventory_hostname]['ansible_host'] }}
      -advertise {{ hostvars[inventory_hostname]['ansible_host'] }}
      -data-dir /consul/data
      -config-dir /consul/consul.d
      -enable-local-script-checks
      -domain {{ consul.domain }}
      {% if consul.recursors is defined -%}
        {%- for recursor in consul.recursors -%}
        -recursor {{ recursor }}
        {% endfor -%}
      {%- endif %}
      {% if inventory_hostname in groups['consul'] -%}
      -server -ui -client 0.0.0.0
      {%- endif %}
      {% if groups['consul']|length > 1 -%}
        -bootstrap-expect 2
        {#
        {% if groups['consul'].index(inventory_hostname) == 0 -%}
        -bootstrap
        {%- else -%}
        -bootstrap-expect 2
        {%- endif %}
        #}
      {%- else -%}
      -join {{ hostvars[groups['consul'] | first].ansible_host }}
      {%- endif -%}
