version: "2.1"

services:
  consul:
    image: {{ consul.image }} 
    network_mode: host
    restart: always
    volumes:
      - {{ consul.dir }}/data:/consul/data
      - {{ consul.dir }}/consul.d:/consul/consul.d
    command: > 
      agent 
      {% set server_index = 0 -%}
      {%- if hostvars[inventory_hostname]['is_consul_server'] is defined and hostvars[inventory_hostname]['is_consul_server']|bool  -%}
      -server -ui -bootstrap -client 0.0.0.0
      {%- else -%}
      -join {{ hostvars | dict2items | map(attribute='value') | selectattr('is_consul_server', 'defined') | map(attribute='ansible_host') | list | first }}
      {%- endif %}
      -bind {{ hostvars[inventory_hostname]['ansible_host'] }}  -advertise {{ hostvars[inventory_hostname]['ansible_host'] }} -data-dir /consul/data -config-dir /consul/consul.d
