{
    "services": [
    {%- for endpoint in service_endpoints -%}
    {%- set endpoint_loop = loop -%}
    {
      "id": "{{ service_name | default(service_config.discovery_name) }}_{{ loop.index }}",
      "name": "{{ service_name | default(service_config.discovery_name) }}",
      {%- if service_config.port is defined -%}
      "port": {{ service_config.port }},
      {%- endif -%}
      "address": "{{ endpoint }}",
      "checks": [
        {%- for check in service_checks | default([]) -%}
          {%- set check_loop = loop -%}
          {%- if check.type == "port_check" and check.check_ports is defined -%}
            {%- for check_port in check.check_ports -%}
          {
            "id": "{{ item }}_{{ service_name | default(service_config.discovery_name) }}_{{ check.type }}_{{ endpoint_loop.index}}_{{check_loop.index}}_{{ loop.index }}",
            "name": "{{ service_name | default(service_config.discovery_name) }}_{{ check.type }}",
            "interval": "{{ check.interval | default('10s')}}",
            "timeout": "{{ check.timeout | default('20s')}}",
            "tcp": "{{ endpoint }}:{{ check_port }}"
          }
            {%- if not loop.last -%},{%- endif -%}
            {%- endfor -%}
          {%- elif check.type == "port_check" -%}
          {
            "id": "{{ item }}_{{ service_name | default(service_config.discovery_name) }}_{{ check.type }}_{{ endpoint_loop.index}}_{{ check_loop.index }}",
            "name": "{{ service_name | default(service_config.discovery_name) }}_{{ check.type }}",
            "interval": "{{ check.interval | default('10s')}}",
            "timeout": "{{ check.timeout | default('20s')}}",
            "tcp": "{{ endpoint }}:{{ service_config.port }}"
          }
          {%- elif check.type == "script_check" -%}
          {
            "id": "{{ item }}_{{ service_name | default(service_config.discovery_name) }}_{{ check.type }}_{{ endpoint_loop.index}}_{{ check_loop.index }}",
            "name": "{{ service_name | default(service_config.discovery_name) }}_{{ check.type }}",
            "interval": "{{ check.interval | default('10s')}}",
            "timeout": "{{ check.timeout | default('20s')}}",
            "args": [ "sh", "-c", "/consul/consul.d/{{ check.script_file }} {{ endpoint }}" ]
          }
          {%- endif -%}
        {%- if not loop.last -%},{%- endif -%}
        {%- endfor -%}
      ]
    }
    {%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
    ]
}
