{
    "service": {
        "name": "{{ service_name }}",
        "port": {{ service_port }},
        "tags": [
					{{ service_tags | default([]) | join(",")}}
        ],
        "checks":[
				{%- for check in service_checks -%}
				{
            "id": "{{ check.id }}",
            "name": "{{ check.name }}",
            "interval": "{{ check.interval | default('10s')}}",
            "timeout": "{{ check.timeout | default('20s')}}",

						{%- if check.script_path is defined -%}
            "args": [
							"{{ check.script_path }}"
							{%- if check.script_args is defined -%}
							, {{ check.script_args | join(",") }}
							{%- endif -%}
						]

						{%- elif check.tcp_check is defined -%}
						"tcp": "{{ check.tcp_check }}"

						{%- elif check.http_check is defined -%}
						"http": "{{ check.http_check }}",
						"tls_skip_verify": false
						{%- if check.http_method is defined -%}
						, "method": {{ check.http_method }}
						{%- endif -%}
						{%- endif -%}
        }
        {%- if not loop.last -%},{%- endif -%}
				{%- endfor -%}
				]
    }
}
